.modal-container {
  border: none;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 600px;


  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
  }
}

.actions {
  margin-top: 1.5rem;
  text-align: center;
}

.grid-form {
  display: grid;
  gap: 15px;
}

.form-group {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  gap: 20px;

  input, select{
    max-width: 500px;
    padding: 12px;
    width: 90%;
    box-sizing: border-box;
  }
}
